<html>
<head>
  <meta charset="utf-8">
  <title>Quyết.đê!</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/HomePage.css">
</head>

<body>
  <nav class="navbar navbar-inverse ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" href="#navbar-collapse" aria-expanded="false" aria-controls="collapseExample">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">Quyết.đê!</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {{#if askview }}
        <li class="active"><a href="/ask">Hỏi nhanh</a></li>
        {{else}}
        <li><a href="/ask">Hỏi nhanh</a></li>
        {{/if}}
        {{#if answerview}}
        <li class="active"><a href="{{{nav}}}">Đáp gọn</a></li>
        {{else}}
        <li><a href="{{{nav}}}">Đáp gọn</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>

</html>
